<%= stylesheet_link_tag "fonts", media: "all" %>
<%= stylesheet_link_tag "colors", media: "all" %>
<%= stylesheet_link_tag "errors", media: "all" %>


<body>

    <!-- 500 -->
    <div class="errors_box">
        <div class="error_pic">
            <%= image_tag "500.svg", class: "pic" %>
        </div>

        <div class="errors_card">
            <div class="errors_big">
                ЧТО-ТО ПОШЛО<br>НЕ ТАК
            </div>

            <div class="errors_small">
                Произошла ошибка на&nbsp;нашей стороне. Мы уже работаем над этим.
            </div>

            <a href="/about" class="errors_button">
                Вернуться на главную
            </a>

        </div>
    </div
    >
    <!-- ФУТЕР -->
    <footer class="footer">
        <div class="footer_logo">
            FILMORA
        </div>
        
        <div class="footer_info">
        <div>
            <span class="label">
            <span class="grey_text">создательницы:</span><br>
            <span class="black_text">Александра Арефьева</span><br>
            <span class="black_text">Старовойтова Евгения</span>
        </div>

        <div>
            <span class="label">
            <span class="grey_text">кураторы:</span><br>
            <span class="black_text">Федор Ноздрин</span><br>
            <span class="black_text">Захар День</span>
        </div>
        </div>
    </footer>
</body>