<h1>Подписка оформлена!</h1>

<p>Спасибо за оформление подписки.</p>

<p>Тип подписки: <%= @subscription.subscription_type %></p>
<p>Для кого: <%= @subscription.for_whom %></p>
<p>Срок: <%= @subscription.duration %></p>