.generated_1920ОНас_0_135 {
    background: #101010;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.Group_4_0_136 {
    flex-shrink: 0;
    width: 1925px;
    height: 1969px;
}
.FilmoraМедиаСервисДляТехКтоЛюбитАналоговыеТехнологииЗдесьНетГонкиЗаИдеаломТолькоИскренностьКадраИТеплоНастоящегоСветаМыВеримЧтоАналоговаяТехникаНеПрошлоеАСпособВидетьМирОсознанноСВниманиемКДеталямИУважениемКРемеслу_0_138 {
    color: #fff;
    text-decoration-skip-ink: auto;
    text-underline-offset: 8%;
    text-underline-position: from-font;
    flex-shrink: 0;
    width: 1255px;
    height: 348px;
    font-family: Builder Mono;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    display: inline-block;
}
.generated_КтоМы_0_139 {
    color: #fff;
    flex-shrink: 0;
    width: 1786px;
    height: 88px;
    font-family: Widock TRIAL;
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-block;
}
.Group_3_0_140 {
    flex-shrink: 0;
    width: 1920px;
    height: 1294.67px;
}
.generated_ЧтоМыПредлагаем_0_143 {
    color: #fff;
    flex-shrink: 0;
    width: 1340px;
    height: 232px;
    font-family: Widock TRIAL;
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-block;
}
.Header_0_144 {
    flex-shrink: 0;
    width: 1820.18px;
    height: 41.98px;
}
.Gx8G8TycLUf1000_1000Ql80_1_0_161 {
    aspect-ratio: 923.92/923.92;
    mix-blend-mode: screen;
    background: #d3d3d3 url(<path-to-image>) 50% / cover no-repeat;
    flex-shrink: 0;
    width: 923.924px;
    height: 923.924px;
    transform: rotate(5.382deg);
}
.Pilots_1_0_162 {
    aspect-ratio: 874.49/874.49;
    mix-blend-mode: screen;
    background: #d3d3d3 url(<path-to-image>) 50% / cover no-repeat;
    flex-shrink: 0;
    width: 874.488px;
    height: 874.488px;
    transform: rotate(-13.449deg);
}
.Filmora_0_163 {
    flex-shrink: 0;
    width: 1820px;
    height: 235.473px;
}
.Rectangle_13_0_171 {
    background: #fff;
    flex-shrink: 0;
    width: 1920px;
    height: 244px;
}
.Filmora_0_172 {
    flex-shrink: 0;
    width: 1820px;
    height: 235.473px;
}
.generated_МедиаСервисДляЛюбителейАналоговыхТехнологийИСтаройЦифры_0_180 {
    color: #fff;
    flex-shrink: 0;
    width: 1010px;
    height: 89px;
    font-family: Builder Mono;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    display: inline-block;
}
.Filmora_0_181 {
    color: #fff;
    flex-shrink: 0;
    width: 1362px;
    height: 150px;
    font-family: Widock TRIAL;
    font-size: 92px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-block;
}
.generated_ПростоПодпишисьНаРассылкуИПервымУзнаешьОЗапуске_0_182 {
    color: #fff;
    flex-shrink: 0;
    width: 1228px;
    height: 99px;
    font-family: Builder Mono;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    display: inline-block;
}
.generated_СоздательницаАлександраАрефьева_0_183 {
    color: #101010;
    flex-shrink: 0;
    width: 355px;
    height: 74px;
    font-family: Builder Mono;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    display: inline-block;
}
.generated_КураторыФедорНоздринЗахарДень_0_184 {
    color: #101010;
    flex-shrink: 0;
    width: 259px;
    height: 107px;
    font-family: Builder Mono;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    display: inline-block;
}
.Rectangle_11_0_185 {
    flex-shrink: 0;
    width: 39px;
    height: 39px;
}
.Rectangle_11_0_358 {
    box-sizing: border-box;
    border: 2px solid #1010104d;
    border-radius: 6px;
    flex-shrink: 0;
    width: 39px;
    height: 39px;
}
.Filmora_0_186 {
    flex-shrink: 0;
    width: 479.043px;
    height: 61.979px;
}
.generated_ЧтоМыПредлагаем_0_194 {
    flex-shrink: 0;
    width: 1829px;
    height: 771px;
}
.Rectangle_1_0_378 {
    background: #fff;
    border-radius: 50px;
    flex-shrink: 0;
    width: 1432px;
    height: 624px;
}
.generated_03_0_379 {
    fill: #ffffff4d;
    flex-shrink: 0;
    width: 163px;
    height: 94px;
}
.Rectangle_4_0_380 {
    background: #000;
    border-radius: 50px;
    width: 163px;
    height: 94px;
}
.generated_03_0_381 {
    color: #fff;
    text-align: center;
    width: 163px;
    height: 48px;
    font-family: Builder Mono;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    display: inline-block;
}
.generated_02_0_382 {
    fill: #ffffff4d;
    flex-shrink: 0;
    width: 163px;
    height: 94px;
}
.Rectangle_3_0_383 {
    background: #000;
    border-radius: 50px;
    width: 163px;
    height: 94px;
}
.generated_02_0_384 {
    color: #fff;
    text-align: center;
    width: 163px;
    height: 48px;
    font-family: Builder Mono;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    display: inline-block;
}
.generated_01_0_385 {
    fill: #fff;
    flex-shrink: 0;
    width: 163px;
    height: 213px;
}
.Rectangle_2_0_386 {
    background: #000;
    border-radius: 50px;
    width: 163px;
    height: 213px;
}
.generated_01_0_387 {
    color: #fff;
    text-align: center;
    width: 163px;
    height: 48px;
    font-family: Builder Mono;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    display: inline-block;
}
.generated_04_0_388 {
    fill: #ffffff4d;
    flex-shrink: 0;
    width: 163px;
    height: 94px;
}
.Rectangle_5_0_389 {
    background: #000;
    border-radius: 50px;
    width: 163px;
    height: 94px;
}
.generated_04_0_390 {
    color: #fff;
    text-align: center;
    width: 163px;
    height: 48px;
    font-family: Builder Mono;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    display: inline-block;
}
.Polaroid_636CloseUpRylDph38Ju_1_1_0_391 {
    aspect-ratio: 98/115;
    background: #d3d3d3 url(<path-to-image>) -167.93px -32.618px/159.676% 110.303%
        no-repeat;
    flex-shrink: 0;
    width: 588px;
    height: 690px;
}
.generated_Сообщество_0_392 {
    color: #101010;
    flex-shrink: 0;
    width: 1074px;
    height: 101px;
    font-family: Widock TRIAL;
    font-size: 102px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    display: inline-block;
}
.FilmoraДляВасСтаньтеЧастьюНашегоСообществаПишитеИЧитайтеПостыКоммуницируйтеСДругимиПользователямиИОбменивайтесьОпытомМыУвереныЧтоFilmoraСтанетОтличнымПомощникомВПоисках_0_393 {
    color: #101010;
    flex-shrink: 0;
    width: 1128px;
    height: 348px;
    font-family: Builder Mono;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    display: inline-block;
}
.Group_8_0_195 {
    flex-shrink: 0;
    width: 1920px;
    height: 1137px;
}
.Group_7_0_198 {
    flex-shrink: 0;
    width: 1918px;
    height: 854px;
}
.Group_5_0_201 {
    flex-shrink: 0;
    width: 701px;
    height: 425px;
}
.Rectangle_14_15_82 {
    flex-shrink: 0;
    width: 39px;
    height: 39px;
}
