.div {
  	width: 100%;
  	height: 5179px;
  	position: relative;
  	background-color: #101010;
  	overflow: hidden;
  	text-align: left;
  	font-size: 32px;
  	color: #fff;
  	font-family: Builder Mono;
}
.orange-backgroundpng-1-icon {
  	position: absolute;
  	top: 4081px;
  	left: 0px;
  	width: 1918px;
  	height: 854px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.rainbow-background-icon {
  	position: absolute;
  	top: 0px;
  	left: 2px;
  	width: 1920px;
  	height: 1137px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.header {
  	position: absolute;
  	top: 48px;
  	left: 50px;
  	width: 1628px;
  	height: 31px;
  	flex-shrink: 0;
}
.buttton-aboutus {
  	position: absolute;
  	top: 0px;
  	left: 386px;
  	line-height: 100%;
  	display: inline-block;
  	width: 97px;
  	height: 31px;
}
.button-lenta {
  	position: absolute;
  	top: 0px;
  	left: 603px;
  	line-height: 100%;
  	display: inline-block;
  	width: 93px;
  	height: 31px;
  	opacity: 0.5;
}
.button-stati {
  	position: absolute;
  	top: 0px;
  	left: 816px;
  	line-height: 100%;
  	display: inline-block;
  	width: 312px;
  	height: 31px;
  	opacity: 0.5;
}
.button-profile-icon {
  	position: absolute;
  	height: 93.55%;
  	width: 1.79%;
  	top: 6.45%;
  	right: 0%;
  	bottom: 0%;
  	left: 98.21%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.header-logo-icon {
  	position: absolute;
  	top: 2px;
  	left: 0px;
  	width: 216.4px;
  	height: 28px;
}
.button-favorites-icon {
  	position: absolute;
  	height: 83.87%;
  	width: 1.72%;
  	top: 9.68%;
  	right: 2.33%;
  	bottom: 6.45%;
  	left: 95.95%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.filmora-icon {
  	position: absolute;
  	top: 335px;
  	left: 50px;
  	width: 1628px;
  	height: 210.6px;
  	flex-shrink: 0;
}
.filmora-icon2 {
  	position: absolute;
  	top: 552.15px;
  	left: 50px;
  	width: 1628px;
  	height: 210.6px;
  	flex-shrink: 0;
}
.pilots-icon {
  	position: absolute;
  	top: 213px;
  	left: -55px;
  	width: 965px;
  	height: 965px;
  	object-fit: contain;
  	mix-blend-mode: screen;
  	flex-shrink: 0;
}
.panasonik-icon {
  	position: absolute;
  	top: 104px;
  	left: 829px;
  	width: 906.8px;
  	height: 906.8px;
  	object-fit: contain;
  	mix-blend-mode: screen;
  	flex-shrink: 0;
}
.div2 {
  	position: absolute;
  	top: 975px;
  	left: 50px;
  	font-size: 48px;
  	line-height: 100%;
  	display: inline-block;
  	width: 1010px;
  	height: 89px;
  	flex-shrink: 0;
}
.filmora-container {
  	position: absolute;
  	top: 1349px;
  	left: 50px;
  	font-size: 44px;
  	line-height: 100%;
  	display: inline-block;
  	width: 1255px;
  	height: 274px;
  	flex-shrink: 0;
}
.span {
  	text-decoration: underline;
}
.b {
  	position: absolute;
  	top: 1201px;
  	left: 50px;
  	font-size: 122px;
  	display: inline-block;
  	font-family: Widock TRIAL;
  	width: 1786px;
  	height: 88px;
  	flex-shrink: 0;
}
.b2 {
  	position: absolute;
  	top: 2972px;
  	left: 50px;
  	font-size: 122px;
  	display: inline-block;
  	font-family: Widock TRIAL;
  	width: 1340px;
  	height: 202px;
  	flex-shrink: 0;
}
.card {
  	position: absolute;
  	top: 3229px;
  	left: 50px;
  	width: 1629px;
  	height: 771px;
  	flex-shrink: 0;
  	font-size: 98px;
  	color: #101010;
  	font-family: Widock TRIAL;
}
.card-child {
  	position: absolute;
  	height: 76.78%;
  	width: 87.91%;
  	top: 14.79%;
  	right: 12.09%;
  	bottom: 8.43%;
  	left: 0%;
  	border-radius: 50px;
  	background-color: #fff;
}
.button-03-icon {
  	position: absolute;
  	height: 12.19%;
  	width: 10.01%;
  	top: 0%;
  	right: 67.53%;
  	bottom: 87.81%;
  	left: 22.47%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.button-02-icon {
  	position: absolute;
  	height: 12.19%;
  	width: 10.01%;
  	top: 0%;
  	right: 78.76%;
  	bottom: 87.81%;
  	left: 11.23%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.button-01-icon {
  	position: absolute;
  	height: 27.63%;
  	width: 10.01%;
  	top: 0%;
  	right: 89.99%;
  	bottom: 72.37%;
  	left: 0%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.button-04-icon {
  	position: absolute;
  	height: 12.19%;
  	width: 10.01%;
  	top: 0%;
  	right: 56.29%;
  	bottom: 87.81%;
  	left: 33.7%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.polaroid-icon {
  	position: absolute;
  	width: 31%;
  	top: 179px;
  	right: 0%;
  	left: 69%;
  	max-width: 100%;
  	overflow: hidden;
  	height: 592px;
  	object-fit: cover;
}
.b3 {
  	position: absolute;
  	height: 13.1%;
  	width: 65.93%;
  	top: 23.22%;
  	left: 3.07%;
  	line-height: 100%;
  	display: inline-block;
}
.filmora {
  	position: absolute;
  	height: 45.14%;
  	width: 63.17%;
  	top: 40.86%;
  	left: 3.07%;
  	font-size: 44px;
  	line-height: 100%;
  	font-family: Builder Mono;
  	display: inline-block;
}
.filmora2 {
  	position: absolute;
  	top: 4126px;
  	left: 50px;
  	font-size: 92px;
  	display: inline-block;
  	font-family: Widock TRIAL;
  	width: 1362px;
  	height: 150px;
  	flex-shrink: 0;
}
.div3 {
  	position: absolute;
  	top: 4321px;
  	left: 50px;
  	font-size: 48px;
  	line-height: 100%;
  	display: inline-block;
  	width: 1228px;
  	height: 99px;
  	flex-shrink: 0;
}
.inner {
  	position: absolute;
  	top: 4672px;
  	left: 98px;
  	width: 39px;
  	height: 39px;
  	flex-shrink: 0;
}
.instance-child {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 6px;
  	border: 2px solid rgba(16, 16, 16, 0.3);
  	box-sizing: border-box;
}
.footer {
  	position: absolute;
  	top: 4935px;
  	left: 0px;
  	width: 1728px;
  	height: 244px;
  	flex-shrink: 0;
  	color: rgba(16, 16, 16, 0.35);
}
.footer-background {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #fff;
  	width: 1728px;
  	height: 244px;
}
.div4 {
  	position: absolute;
  	top: 68px;
  	left: 952px;
  	line-height: 110%;
  	display: inline-block;
  	width: 367px;
  	height: 107px;
}
.span3 {
  	color: #101010;
}
.div5 {
  	position: absolute;
  	top: 68px;
  	left: 1419px;
  	line-height: 110%;
  	display: inline-block;
  	width: 259px;
  	height: 107px;
  	color: rgba(16, 16, 16, 0.3);
}
.footer-logo-icon {
  	position: absolute;
  	top: 91px;
  	left: 50px;
  	width: 479px;
  	height: 62px;
}
.mailer {
  	position: absolute;
  	top: 4465px;
  	left: 50px;
  	width: 701px;
  	height: 425px;
  	flex-shrink: 0;
  	color: #101010;
}
.mailer-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 50px;
  	background-color: #fff;
  	width: 701px;
  	height: 425px;
}
.e-mail {
  	position: absolute;
  	top: 45px;
  	left: 48px;
  	line-height: 100%;
  	display: inline-block;
  	width: 606px;
  	height: 36px;
}
.filmora3 {
  	position: absolute;
  	top: 210px;
  	left: 111px;
  	line-height: 100%;
  	display: inline-block;
  	width: 543px;
  	height: 71px;
}
.email {
  	position: absolute;
  	top: 106px;
  	left: 48px;
  	width: 606px;
  	height: 69px;
  	color: rgba(16, 16, 16, 0.3);
}
.email-child {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 20px;
  	border: 2px solid rgba(16, 16, 16, 0.3);
  	box-sizing: border-box;
}
.e-mail2 {
  	position: absolute;
  	height: 52.17%;
  	width: 93.4%;
  	top: 24.64%;
  	left: 3.3%;
  	line-height: 100%;
  	display: inline-block;
}
.button-send {
  	position: absolute;
  	top: 311px;
  	left: 48px;
  	width: 606px;
  	height: 69px;
  	text-align: center;
  	color: #fff;
}
.button-send-child {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 20px;
  	background-color: rgba(30, 30, 30, 0.3);
}
.checkbox {
  	position: absolute;
  	top: 207px;
  	left: 48px;
  	width: 39px;
  	height: 39px;
}
.boy-1-icon {
  	position: absolute;
  	top: 1707px;
  	left: -1px;
  	width: 1723px;
  	height: 1162px;
  	object-fit: cover;
  	flex-shrink: 0;
}

