:root {
  --black: #101010;
  --black_30: #10101030;
  --black_35: #10101035;
  --white: #FFFFFF;
  --white_35: #FFFFFF35;
  --white_50: #ffffff50;
  --font-builder-mono: 'Builder Mono', monospace;
  --font-widock-trial: 'Widock TRIAL', monospace;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	text-decoration: none;
	list-style: none;
}



/* ХЭДЕР */

header{
	position: absolute;
	width: 100%;
	left: 0;
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1.25rem;
	flex-shrink: 0;
}

header .logo{
	margin-top: 3rem;
	margin-left: 3rem;
	margin-bottom: 3rem;
	height: 2.5rem;
	width: 19.325rem;
	position: relative;
	color: white;
	background-color: transparent;
}

header .navbar{
	display: flex;
	gap: 5rem;
	align-items: center;
}

header .navbar a{
	font-size: 1.25rem;
	font-family: var(--font-builder-mono);
	color: var(--white_50);
	text-decoration: none;
	background-color: transparent;
	transition: 0.3s;
}

header .navbar a:hover{
	color: var(--white);
}

/* ЗАГЛАВНЫЙ БЛОК */

#main_block {
  position: relative;
  width: 100%;
  height: 64.375rem; 
}

.background {
  width: 100%;       
  height: auto;     
  display: block;   
}

.filmora_main {
	position: absolute;
	top: 16rem;
	left: 2.5rem;
	width: 95%;
	right: 2.5rem;
	background-color: transparent;
}

.text_main {
	position: absolute;
	width: 42.25rem;
	margin-top: -20rem;
	margin-left: 3rem;
	font-size: 2.5rem;
	line-height: 100%;
	font-family: var(--font-builder-mono);
	color: var(--white);
	text-align: left;
	display: inline-block;
	background-color: transparent;
	z-index: 3;
}



/* КТО МЫ? */

#who_block {
  position: relative;
  width: 100%;
  height: 87.313rem; 
}

.boy_background {
  width: 100%;       
  height: auto;     
  display: block; 
}

.who_big_text {
	position: absolute;
	font-size: 6.875rem;
	top: 77rem;
	left: 2.5rem;
	width: 83.75rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.125rem;
	flex-shrink: 0;
	font-family: var(--font-widock-trial);
	color: var(--white); 
	z-index: 3;
}
.who_text {
	position: absolute;
	top: 85rem;
	left: 2.5rem;
	width: 90%;
	height: 12.5rem;
	line-height: 100%;
	font-size: 2.5rem;
	font-family: var(--font-builder-mono);
	color: var(--white);
	z-index: 3;
}

.underline{
	text-decoration: underline;
}



/* ЧТО МЫ ПРЕДЛАГАЕМ? */

#what_block {
	position: absolute;
	width: 100%;
	height: 60rem; 
}

.backblack {
  width: 100%;       
  height: auto;     
  display: block; 
}

.card_test {
	position: absolute;
	width: 95%;
	top: 195rem;
	left: 2.5rem;
	z-index: 2;
}

.what_big_text {
	position: absolute;
	font-size: 6.875rem;
	top: 180rem;
	left: 2.5rem;
	width: 83.75rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.125rem;
	flex-shrink: 0;
	font-family: var(--font-widock-trial);
	color: var(--white); 
	z-index: 3;
}

.card_big_text {
	position: absolute;
	font-size: 6rem;
	top: 208rem;
	left: 5rem;
	width: 83.75rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.125rem;
	flex-shrink: 0;
	font-family: var(--font-widock-trial);
	color: var(--black); 
	z-index: 4;
}

.card_text {
	position: absolute;
	top: 215rem;
	left: 5rem;
	width: 58%;
	height: 12.5rem;
	line-height: 110%;
	font-size: 2.5rem;
	font-family: var(--font-builder-mono);
	color: var(--black);
	z-index: 4;
}

.polaroid {
	position: absolute;
	top: 205rem;
	left: 73rem;
	max-width: 52%;
	max-height: 52%;
	z-index: 5;
}



/* МЕЙЛЕР БЛОК */

#mailer_block {
	position: absolute;
	width: 100%;
	height: 52rem; 
}

.orange_background {
  width: 100%;       
  height: auto;     
  display: block; 
}

.mailer_big_text {
	position: absolute;
	font-size: 5.313rem;
	top: 260rem;
	left: 2.5rem;
	width: 85.125rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.125rem;
	flex-shrink: 0;
	font-family: var(--font-widock-trial);
	color: var(--white); 
	z-index: 2;
}

.mailer_text {
	position: absolute;
	top: 272rem;
	left: 2.5rem;
	width: 80%;
	height: 12.5rem;
	line-height: 110%;
	font-size: 2.5rem;
	font-family: var(--font-builder-mono);
	color: var(--white);
	z-index: 2;
}

.mailer_test {
	position: absolute;
	width: 40%;
	top:280rem;
	left: 2.5rem;
	z-index: 2;	
}



/* ФУТЕР */

footer{
	position: relative;
	width: 100%;
	left: 0;
	bottom: 0;
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1.25rem;
	flex-shrink: 0;
}

footer .footer_logo{
	margin-left: 3rem;
	margin-bottom: 0.8rem;
	height: 2.5rem;
	width: 19.325rem;
	position: relative;
	color: var(--black);
	background-color: transparent;
}

.creators {
	height: 3.438rem;
	width: 17rem;
	position: absolute;
	margin-bottom: 2.75rem;
	margin-left: 65rem;
	font-size: 1.5rem;
	line-height: 120%;
	font-family: var(--font-builder-mono);
	text-align: left;
	display: inline-block;
}

.curators {
  height: 3.438rem;
  width: 17rem;
  position: absolute;
  margin-bottom: 2.75rem;
  margin-left: 90rem;
  font-size: 1.5rem;
  line-height: 120%;
  font-family: var(--font-builder-mono);
  text-align: left;
  display: inline-block;
}

.grey_text {
  color: var(--black_35);
}

.black_text {
  color: var(--black);
}