:root {
    --black: #101010;
    --black_30: #10101030;
    --black_35: #10101035;
    --grey: #282828;
    --white: #FFFFFF;
    --white_35: #FFFFFF35;
    --white_50: #ffffff50;
    --font-builder-mono: 'Builder Mono', monospace;
    --font-widock-trial: 'Widock TRIAL', monospace;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--black);
    min-height: 100vh;
    display: block;
    flex-direction: column;
}

/* ХЕДЕР */

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;  
    background: transparent;
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
    z-index: 2;
}

.header_logo {
  font-size: 2.3rem;
  font-family: var(--font-widock-trial);
  flex-shrink: 0;
  color: var(--white);
}

.nav {
    display: flex;
    gap: 5rem;
    margin: 0 auto;
}

.nav a {
    display: inline-block;
    white-space: nowrap;
    font-size: 1.25rem;
    font-family: var(--font-builder-mono);
    color: var(--white_50);
    transition: 0.5s;
}

.nav a:hover {
    color: var(--white);
}

.icons {
    display: flex;
    align-items: center;
    gap: 1.8rem;
    flex-shrink: 0;
}

.icon_button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.icons a,
.icons button {
  display: flex;
  align-items: center;
}

/* РЕДАКТИРОВАТЬ */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit_page {
    padding-top: 12rem; 
    padding-bottom: 6rem;
    padding-left: 2rem;
    padding-right: 1rem;
    justify-content: center; 
}

.edit {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    justify-content: center;
}

.avatar_block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.avatar_img {
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 0.7rem;
}

.small {
    font-size: 1.5rem;
    font-family: var(--font-builder-mono);
    color: var(--white);
    padding: 0;
    margin: 0;

}

.avatar_controls {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input {
    display: none; 
}

.new_input {
    font-size: 1.5rem;
    font-family: var(--font-builder-mono);
    color: var(--black);
    display: inline-flex;
    align-items: center;
    background-color: var(--white_35);
    border-radius: 0.75rem;
    gap: 0.5rem;
    cursor: pointer;
    font-size: 1.25rem;
    font-family: var(--font-builder-mono);
    color: var(--black);
    padding: 0.6rem 1.5rem;
    transition: 0.3s;
}

.new_input:hover {
    background-color: var(--white);
}

.new_input.selected {
    background-color: var(--white);
}

.wrapper{ 
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: transparent;
}

.username_box {
    border: 0.15rem solid var(--white);
    border-radius: 0.75rem;
    padding: 1rem;
    background-color: transparent;
    font-size: 1.5rem;
    font-family: var(--font-builder-mono);
    color: var(--white);
    box-sizing: border-box;
    transition: color 0.5s, border 0.5s;
}

.username_box:hover {
    color: var(--white);
    border: 0.15rem solid var(--white);
}

.email_box {
    border: 0.15rem solid var(--white);
    border-radius: 0.75rem;
    padding: 1rem;
    background-color: transparent;
    font-size: 1.5rem;
    font-family: var(--font-builder-mono);
    color: var(--white);
    box-sizing: border-box;
    transition: color 0.5s, border 0.5s;
}

.email_box:hover {
    color: var(--white);
    border: 0.15rem solid var(--white);
}

.savebutton {
    align-self: center;
    background-color: var(--white_35);
    border-radius: 0.75rem;
    font-size: 1.5rem;
    font-family: var(--font-builder-mono);
    color: var(--black);
    outline: var(--white_35);
    text-decoration: none;
    margin-right: 1.5rem;
    padding: 0.75rem 3rem;
    transition: 0.3s;
    box-shadow: none;
    outline: none;
    border: none;
    appearance: none;
}

.savebutton:hover {
    background-color: var(--white);
}

.change_password_button {
    align-self: center;
    background-color: var(--white_35);
    border-radius: 0.75rem;
    font-size: 1.5rem;
    font-family: var(--font-builder-mono);
    color: var(--black);
    outline: var(--white_35);
    text-decoration: none;
    margin-right: 1.5rem;
    padding: 0.75rem 3rem;
    transition: 0.3s;
    box-shadow: none;
    outline: none;
    border: none;
    appearance: none;
}

.change_password_button:hover {
    background-color: var(--white);
}