
:root {
    --black: #101010;
    --black_30: #10101030;
    --black_35: #10101035;
    --grey: #282828;
    --white: #FFFFFF;
    --white_35: #FFFFFF35;
    --white_50: #ffffff50;
    --font-builder-mono: 'Builder Mono', monospace;
    --font-widock-trial: 'Widock TRIAL', monospace;
}

.errors_box {
    background-color: var(--grey);
    display: flex;
    justify-content: flex-start;
}

.error_pic {
    margin-top: 9.5rem;
    margin-bottom: 10rem;
    margin-left: 9.5rem;
}

.error_pic .pic {
    width: 107%;             
    height: auto;
}

.errors_card {
    display: flex;
    flex-direction: column;
    margin-left: 14rem;
    margin-right: 2rem;
    justify-content: center;
}

.errors_big {
    font-size: 3.75rem;
    font-family: var(--font-widock-trial);
    color: var(--white);
    padding-bottom: 0.5rem;
}

.errors_small {
    font-size: 1.5rem;
    font-family: var(--font-builder-mono);
    color: var(--white);
    padding-bottom: 4rem;
}

.errors_button {
    font-size: 1.5rem;
    font-family: var(--font-builder-mono);
    text-align: center;
    color: var(--black);
    padding: 1rem 3.5rem;
    background-color: var(--white);
    border-radius: 0.75rem;
}

/* ФУТЕР */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  background-color: var(--white);
  box-sizing: border-box;
}

.footer_logo {
  font-size: 2.5rem;
  font-family: var(--font-widock-trial);
  color: var(--black);
  padding-top: 1rem;
}

.footer_info {
  display: flex;
  gap: 4rem;
  font-size: 1rem;
  font-family: var(--font-builder-mono);
}

.grey_text {
  color: var(--black_35);
}

.black_text {
  color: var(--black);
}

@media (max-width: 768px) {
  .errors_box {
    flex-direction: column;
    padding: 0 2rem;
    align-items: center;
    padding-bottom: 3rem;
  }

  .error_pic {
    margin: 4rem 0 2rem 0;
  }

  .error_pic .pic {
    width: 100%;
    padding-bottom: 2rem;
  }

  .errors_card {
    margin-left: 0;
    align-items: flex-start;
  }

  .errors_big {
    font-size: 1.8rem;
    padding-bottom: 1rem;
  }

  .errors_small {
    font-size: 1rem;
    padding-bottom: 2rem;
  }

  .errors_button {
    font-size: 1rem;
    padding: 0.5rem 2.5rem;
  }

  .footer {
    display: flex;
    align-items: center;         
    justify-content: right;
    padding: 0rem 1rem;          
    background-color: var(--white);
    box-sizing: border-box;
  } 

  .footer_info {
    display: flex;
    white-space: nowrap;
    gap: 3rem;
    font-size: 0.5rem;
    font-family: var(--font-builder-mono);
    box-sizing: border-box;
  }

  .footer_logo{
    font-size: 0rem;
  }
}