
:root {
    --black: #101010;
    --black_30: #10101030;
    --black_35: #10101035;
    --grey: #282828;
    --white: #FFFFFF;
    --white_35: #FFFFFF35;
    --white_50: #ffffff50;
    --font-builder-mono: 'Builder Mono', monospace;
    --font-widock-trial: 'Widock TRIAL', monospace;
}

body {
    margin: 0;
    background-color: var(--black);
    min-height: 100vh;
    display: block; 
}

/* ХЕДЕР */

.header {
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
}

.header_logo {
  font-size: 2.3rem;
  font-family: var(--font-widock-trial);
  flex-shrink: 0;
  color: var(--white);
}

.nav {
    display: flex;
    gap: 5rem;
    margin: 0 auto;
}

.nav a {
    display: inline-block;
    white-space: nowrap;
    font-size: 1.25rem;
    font-family: var(--font-builder-mono);
    color: var(--white_50);
    transition: 0.5s;
}

.nav a:hover {
    color: var(--white);
}

.icons {
    display: flex;
    gap: 1.8rem;
    flex-shrink: 0;
}

/* РАЗДЕЛЫ */

.rasdeli {
    display: flex;
    flex-direction: column;
    padding: 8rem 2rem 0 2rem; 
}

.big {
    margin: 0; 
    font-size: 6.8rem;
    font-family: var(--font-widock-trial);
    color: var(--white);
    text-align: left;
}

.sections_tabs {
    display: flex;
    gap: 1rem;
    margin: 1rem 0 2rem 0; /* сверху 1rem, снизу 2rem */
    flex-wrap: wrap;
}

.sections_tab {
    font-size: 2rem;
    font-family: var(--font-builder-mono);
    padding: 1rem 3rem;
    border-radius: 1.5rem;
    background-color: var(--white_35);
    border: none;
    cursor: pointer;
}

.sections_tab.active {
    background: var(--white);
    color: var(--black);
}

.sections_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
    background-color: var(--white);
    border-radius: 1.5rem;
    padding: 1.5rem; /* внутренний отступ для карточек */
}

.section_card {
    display: none;
    background: var(--white);
    color: var(--black);
    border-radius: 1.5rem;
    padding: 2rem; /* отступы внутри карточки */
    flex-direction: column;
    justify-content: space-between;
}

.section_card.active {
    display: flex;
}

.section_card_title {
    font-size: 2rem;
    font-family: var(--font-widock-trial);
}

.data {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-family: var(--font-builder-mono);
    text-decoration: none;
    color: var(--black);
}

.section_card_link {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-family: var(--font-builder-mono);
    text-decoration: none;
    color: var(--black);
    transition: 0.3s;
}

.section_card_link:hover {
    text-decoration: underline;
}

/* СТАТЬИ */

.articles {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
}

.big {
  font-size: 3.75rem;
  font-family: var(--font-widock-trial);
  color: var(--white);
  margin-bottom: 2rem;
}

.articles_tags {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.articles_tag {
  background: var(--white_35);
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  font-size: 2rem;
  font-family: var(--font-builder-mono);
  transition: 0.5s;
}

.articles_tag:hover {
    background: var(--white);
}

.articles_list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.sections_cards {
  width: 100%;
}

.article_card {
  width: 100%;

}

.article_card_long {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.article_card_shorts {
  display: flex;
  flex-direction: column-reverse;
  gap: 1.5rem;
}


.article_content h3 {
  font-size: 2.5rem;
  font-family: var(--font-widock-trial);
  color: var(--white);
  margin-bottom: 1rem;
}

.article_content p {
  font-size: 1.5rem;
  font-family: var(--font-builder-mono);
  color: var(--white);
  opacity: 0.85;
  margin-bottom: 4rem;
}

.article_link {
  font-size: 1.5rem;
  font-family: var(--font-builder-mono);
  color: var(--white_35);
  text-decoration: none;
  transition: 0.3s;
}

.article_link:hover {
  text-decoration: underline;
}

.article_image {
  background: #333;
  border-radius: 1.25rem;
  min-height: 16rem;
}

.article_gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.75rem;
}

.gallery_item {
  background: #333;
  border-radius: 1rem;
  min-height: 15rem;
}
/* ФУТЕР */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  background-color: var(--white);
  box-sizing: border-box;
}

.footer_logo {
  font-size: 2.5rem;
  font-family: var(--font-widock-trial);
  color: var(--black);
  padding-top: 1rem;
}

.footer_info {
  display: flex;
  gap: 4rem;
  font-size: 1rem;
  font-family: var(--font-builder-mono);
}

.grey_text {
  color: var(--black_35);
}

.black_text {
  color: var(--black);
}


@media (max-width: 768px) {
      .footer {
    display: flex;
    align-items: center;         
    justify-content: right;
    padding: 0rem 1rem;          
    background-color: var(--white);
    box-sizing: border-box;
  } 

  .footer_info {
    display: flex;
    white-space: nowrap;
    gap: 3rem;
    font-size: 0.5rem;
    font-family: var(--font-builder-mono);
    box-sizing: border-box;
  }

  .footer_logo{
    font-size: 0rem;
  }
}