@font-face {
  font-family: 'Widock TRIAL';
  src: url('Widock_TRIAL_Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Builder Mono';
  src: url('BuilderMono-Regular-400_0.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}