
:root {
    --black: #101010;
    --black_30: #10101030;
    --black_35: #10101035;
    --grey: #282828;
    --white: #FFFFFF;
    --white_35: #FFFFFF35;
    --white_50: #ffffff50;
    --font-builder-mono: 'Builder Mono', monospace;
    --font-widock-trial: 'Widock TRIAL', monospace;
}

/* ХЕДЕР */

.header {
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
}

.header_logo {
  font-size: 2.3rem;
  font-family: var(--font-widock-trial);
  flex-shrink: 0;
  color: var(--white);
}

.nav {
    display: flex;
    gap: 5rem;
    margin: 0 auto;
}

.nav a {
    display: inline-block;
    white-space: nowrap;
    font-size: 1.25rem;
    font-family: var(--font-builder-mono);
    color: var(--white_50);
    transition: 0.5s;
}

.nav a:hover {
    color: var(--white);
}

.icons {
    display: flex;
    gap: 1.8rem;
    flex-shrink: 0;
}

/* ОСНОВНОЕ */

.login_page {
    min-height: calc(97vh - 80px); 
    background: var(--grey);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;       
    align-items: center;            
    padding: 0 1rem;               
}

.big {
    margin-bottom: 1.5rem;
    font-size: 3.75rem;
    font-family: var(--font-widock-trial);
    color: var(--white);
    text-align: left;
    width: 100%;           /* чтобы занимало всю ширину карточки */
    max-width: clamp(24rem, 90%, 50rem); /* совпадает с card-wrapper */
    margin-left: auto;     /* сброс центровки */
    margin-right: auto;    /* сброс центровки */
    text-align: left;      /* выравнивание текста по левому краю */
}

.card-wrapper {
    width: clamp(24rem, 90%, 50rem); 
    margin: 0 auto;                  
    display: flex;
    flex-direction: column;
    gap: 1rem;                       
}

.card {
    background-color: var(--white);
    border-radius: 1.5rem;
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1.25rem;
}

label {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-family: var(--font-builder-mono);
    color: var(--black);
}

label input {
    margin-top: 1.25rem;
}

.box {
    border: 0.15rem solid var(--black_30);
    border-radius: 0.75rem;
    padding: 1rem;
    background-color: transparent;
    font-size: 1.5rem;
    font-family: var(--font-builder-mono);
    color: var(--black_30);
    box-sizing: border-box;
}

.button {
    padding: 1rem 3.5rem; 
    background-color: var(--black_35);
    border-radius: 0.75rem;
    font-size: 1.5rem;
    font-family: var(--font-builder-mono);
    color: var(--white);
    border: none;          
    cursor: pointer;       
    display: inline-block;
    text-align: center;   
    margin: 2.5rem auto 0 auto; 
    transition: 0.5s;
}

.button:hover{
  background-color: var(--black);
  color: var(--white);
}

.links {
    display: flex;
    justify-content: space-between;   
    width: 100%;   
    padding-top: 0.5rem;                   
}

.links a {
    color: var(--white);
    font-size: 1.5rem;
    font-family: var(--font-builder-mono);
}

/* ФУТЕР */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  background-color: var(--white);
  box-sizing: border-box;
}

.footer_logo {
  font-size: 2.5rem;
  font-family: var(--font-widock-trial);
  color: var(--black);
  padding-top: 1rem;
}

.footer_info {
  display: flex;
  gap: 4rem;
  font-size: 1rem;
  font-family: var(--font-builder-mono);
}

.grey_text {
  color: var(--black_35);
}

.black_text {
  color: var(--black);
}