:root {
    --black: #101010;
    --black_30: #10101030;
    --black_35: #10101035;
    --grey: #282828;
    --white: #FFFFFF;
    --white_35: #FFFFFF35;
    --white_50: #ffffff50;
    --font-builder-mono: 'Builder Mono', monospace;
    --font-widock-trial: 'Widock TRIAL', monospace;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--black);
    min-height: 100vh;
    display: block;
    flex-direction: column;
}

/* ХЕДЕР */

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;  
    background: transparent;
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
    z-index: 2;
}

.header_logo {
  font-size: 2.3rem;
  font-family: var(--font-widock-trial);
  flex-shrink: 0;
  color: var(--white);
}

.nav {
    display: flex;
    gap: 5rem;
    margin: 0 auto;
}

.nav a {
    display: inline-block;
    white-space: nowrap;
    font-size: 1.25rem;
    font-family: var(--font-builder-mono);
    color: var(--white_50);
    transition: 0.5s;
}

.nav a:hover {
    color: var(--white);
}

.icons {
    display: flex;
    align-items: center;
    gap: 1.8rem;
    flex-shrink: 0;
}

.icon_button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.icons a,
.icons button {
  display: flex;
  align-items: center;
}

/* ПОДПИСКА */

.info {
    display: flex;
    flex-direction: column;
    padding: 8rem 2rem 0rem 2rem; 
}

.big {
    margin: 0; 
    margin-bottom: 2rem;
    font-size: 6.8rem;
    font-family: var(--font-widock-trial);
    color: var(--white);
    text-align: left;
}

.sections_tabs {
    display: flex;
    gap: 1rem;
    margin: 1rem 0 2rem 0; 
    flex-wrap: wrap;
}

.sections_tab {
    font-size: 2rem;
    font-family: var(--font-builder-mono);
    padding: 1rem 3rem;
    border-radius: 1.5rem;
    background-color: var(--white_35);
    border: none;
    cursor: pointer;
}

.sections_tab.active {
    background: var(--white);
    color: var(--black);
}

.sections_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
    background-color: var(--white);
    border-radius: 1.5rem;
    padding: 1.5rem;
}

.section_card {
    display: none;
    background: var(--white);
    color: var(--black);
    border-radius: 1.5rem;
    padding: 2rem; 
    flex-direction: column;
    justify-content: space-between;
}

.section_card.active {
    display: flex;
}

.section_card_title {
    font-size: 2rem;
    font-family: var(--font-widock-trial);
}

.data {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-family: var(--font-builder-mono);
    text-decoration: none;
    color: var(--black);
}

.section_card_link {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-family: var(--font-builder-mono);
    text-decoration: none;
    color: var(--black);
    transition: 0.3s;
}

.section_card_link:hover {
    text-decoration: underline;
}

.cost {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-family: var(--font-widock-trial);
    text-decoration: none;
    color: var(--black);
}

/* ОФОРМЛЕНИЕ */

.subscription_page {
    margin-top: 30rem;
    padding: 4rem 2rem;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
}

.subscription_form {
    background-color: var(--white);
    border-radius: 1.5rem;
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1.25rem;
}

label {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-family: var(--font-builder-mono);
    color: var(--black);
}

label input {
    margin-top: 1.25rem;
}

.email_box {
    border: 0.15rem solid var(--black_30);
    border-radius: 0.75rem;
    padding: 1rem;
    background-color: transparent;
    font-size: 1.5rem;
    font-family: var(--font-builder-mono);
    color: var(--black_30);
    box-sizing: border-box;
    transition: color 0.5s, border-color 0.5s;
}

.email_box:hover {
    color: var(--black);
}

.email_box.filled {
    border-color: var(--black);
    color: var(--black);
}

.text_box {
    border: 0.15rem solid var(--black_30);
    border-radius: 0.75rem;
    padding: 1rem;
    background-color: transparent;
    font-size: 1.5rem;
    font-family: var(--font-builder-mono);
    color: var(--black_30);
    box-sizing: border-box;
    transition: color 0.5s, border-color 0.5s;
}

.text_box:hover {
    color: var(--black);
}

.text_box.filled {
    border-color: var(--black);
    color: var(--black);
}

.box {
    border: 0.15rem solid var(--black_30);
    border-radius: 0.75rem;
    padding: 1rem;
    background-color: transparent;
    font-size: 1.5rem;
    font-family: var(--font-builder-mono);
    color: var(--black_30);
    box-sizing: border-box;
    transition: color 0.5s, border-color 0.5s;
}

.box:hover {
    color: var(--black);
}

.box.filled {
    border-color: var(--black);
    color: var(--black);
}

.radiobuttons {
    font-size: 1.25rem;
    font-family: var(--font-builder-mono);
    color: var(--black);
}

.button {
    padding: 1rem 3.5rem; 
    background-color: var(--black_35);
    border-radius: 0.75rem;
    font-size: 1.5rem;
    font-family: var(--font-builder-mono);
    color: var(--white);
    border: none;          
    cursor: pointer;       
    display: inline-block;
    text-align: center;   
    margin: 2.5rem auto 0 auto; 
    transition: 0.5s;
}

.button:hover{
  background-color: var(--black);
  color: var(--white);
}