.generated_1920Заглушка_0_251 {
    background: #101010;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.Rectangle_13_0_252 {
    background: #fff;
    flex-shrink: 0;
    width: 1920px;
    height: 244px;
}
.generated_СкороЗдесьБудетКрутойСервис_0_253 {
    color: #fff;
    flex-shrink: 0;
    width: 1362px;
    height: 157px;
    font-family: Widock TRIAL;
    font-size: 92px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-block;
}
.generated_ПодпишисьНаРассылкуЧтобыНеПропуститьЗапуск_0_254 {
    color: #fff;
    flex-shrink: 0;
    width: 875px;
    height: 99px;
    font-family: Builder Mono;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    display: inline-block;
}
.generated_СоздательницаАлександраАрефьева_0_255 {
    color: #101010;
    flex-shrink: 0;
    width: 355px;
    height: 74px;
    font-family: Builder Mono;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    display: inline-block;
}
.generated_КураторыФедорНоздринЗахарДень_0_256 {
    color: #101010;
    flex-shrink: 0;
    width: 259px;
    height: 107px;
    font-family: Builder Mono;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    display: inline-block;
}
.Rectangle_11_0_257 {
    flex-shrink: 0;
    width: 39px;
    height: 39px;
}
.Rectangle_11_0_358 {
    box-sizing: border-box;
    border: 2px solid #1010104d;
    border-radius: 6px;
    flex-shrink: 0;
    width: 39px;
    height: 39px;
}
.Filmora_0_258 {
    flex-shrink: 0;
    width: 479.043px;
    height: 61.979px;
}
.PngtreePhoneHandsetPhonePictureImage_13053373_1_0_266 {
    aspect-ratio: 1397.97/1863.41;
    mix-blend-mode: screen;
    background: #d3d3d3 url(<path-to-image>) 50% / cover no-repeat;
    flex-shrink: 0;
    width: 1397.98px;
    height: 1863.41px;
    transform: rotate(22.901deg);
}
.OrangeWallpaper_1_0_267 {
    aspect-ratio: 2008/893;
    mix-blend-mode: screen;
    background: #d3d3d3 url(<path-to-image>) 0 -236.321px/100% 126.464% no-repeat;
    flex-shrink: 0;
    width: 2008px;
    height: 893px;
}
.Group_5_0_268 {
    flex-shrink: 0;
    width: 701px;
    height: 425px;
}
